[submodule "DirectXTK"]
	path = DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "UWPOpenIGTLink"]
	path = UWPOpenIGTLink
	url = https://github.com/IGSIO/UWPOpenIGTLink.git
[submodule "DirectXTex"]
	path = DirectXTex
	url = https://github.com/Microsoft/DirectXTex.git
[submodule "DirectXMesh"]
	path = DirectXMesh
	url = https://github.com/Microsoft/DirectXMesh.git